@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/kanit';
@import "@fontsource/ibm-plex-sans-thai";
@import "@fontsource/inknut-antiqua";

.image-wrapper-aqua {
  position: relative;
  display: inline-block;
}

.image-wrapper-aqua img {
  display: block;
}

.image-wrapper-aqua::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(51,68,204) 100%);
  pointer-events: none;
  /* Prevents blocking mouse events */
}

.image-wrapper-milyni {
  position: relative;
  display: inline-block;
}

.image-wrapper-milyni img {
  display: block;
}

.image-wrapper-milyni::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(37,154,48) 100%);
  pointer-events: none;
  /* Prevents blocking mouse events */
}

.image-wrapper-lafka {
  position: relative;
  display: inline-block;
}

.image-wrapper-lafka img {
  display: block;
}

.image-wrapper-lafka::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(109,65,159) 100%);
  pointer-events: none;
  /* Prevents blocking mouse events */
}

.image-wrapper-anorz {
  position: relative;
  display: inline-block;
}

.image-wrapper-anorz img {
  display: block;
}

.image-wrapper-anorz::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(146,197,170) 100%);
  pointer-events: none;
  /* Prevents blocking mouse events */
}

.image-wrapper-loretta {
  position: relative;
  display: inline-block;
}

.image-wrapper-loretta img {
  display: block;
}

.image-wrapper-loretta::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(136, 19, 55) 100%);
  pointer-events: none;
  /* Prevents blocking mouse events */
}

body {
  font-family: "Kanit", sans-serif;
}

/* ตัวอย่างสำหรับ class อื่น ๆ */
.font-kanit {
  font-family: "Kanit", sans-serif;
}

.font-ibm {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

.font-inknut {
  font-family: "Inknut Antiqua", serif;
}